.angiospermeImage {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('/src/img/angiosperme.jpg');
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}